@model PageViewModel<BrandViewModel>

<div class="container">
    <div class="row pt-4 pb-1">
        <div class="col-6">
            <h2>
                Brands
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-action="Create" asp-controller="Brands" class="createButton">Create</a>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="text-center">Name</th>
            <th colspan="2" class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        @if (Model.Content != null)
        {
            foreach (var brand in Model.Content)
            {
                <tr>
                    <td>
                            <a class="table-text" id="tableLinkText" asp-action="Details" asp-controller="Brands" asp-route-id="@brand.Id">@brand.Name</a>
                    </td>
                    <td>
                        <div class="actionColumn">
                                <a asp-action="Update" asp-controller="Brands" asp-route-id="@brand.Id" class="tableButton editButton">Edit</a>
                        </div>
                    </td>
                    <td class="actionColumn">
                        <button type="button" class="tableButton deleteButton" onclick="deleteBrand(@brand.Id)">Delete</button>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>

<partial name="~/Views/Shared/_Pagination.cshtml" model="Model"/>
<script src="~/js/BrandRelated/DeleteBrand.js"></script>