@model PageViewModel<DrivetrainViewModel>

<div class="container">
    <div class="row pt-4 pb-1">
        <div class="col-6">
            <h2>
                Drivetrains
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-action="Create" asp-controller="Drivetrain" class="createButton">Create</a>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center">Name</th>
                <th colspan="2" class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Content != null)
            {
                foreach (var drivetrain in Model.Content)
                {
                    <tr>
                        <td>
                            <h5 class="text-black text-center mt-3">@drivetrain.Name</h5>
                        </td>
                        <td>
                            <div class="actionColumn">
                                <a asp-action="Update" asp-controller="Drivetrain" asp-route-id="@drivetrain.Id" class="tableButton editButton">Edit</a>
                            </div>
                        </td>
                        <td class="actionColumn">
                            <button type="button" class="tableButton deleteButton" onclick="deleteDrivetrain(@drivetrain.Id)">Delete</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<partial name="~/Views/Shared/_Pagination.cshtml" model="Model" />
<script src="~/js/DrivetrainRelated/DeleteDrivetrain.js"></script>