@model dynamic
<nav>
    <ul class="pagination justify-content-center">
        @if (Model.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" href="?currentPage=@(Model.CurrentPage - 1)">Previous</a>
            </li>
        }

        @{
            var setSize = 15;
            var totalPageSets = (int)Math.Ceiling((double)Model.PagesCount / setSize);
            var currentPageSet = (int)Math.Ceiling((double)Model.CurrentPage / setSize);
            var startSet = (currentPageSet - 1) * setSize + 1;
            int endPage = Math.Min(startSet + setSize - 1, Model.PagesCount);

            for (var i = startSet; i <= endPage; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" href="?currentPage=@i">@i</a>
                </li>
            }

            @if (Model.CurrentPage < Model.PagesCount)
            {
                <li class="page-item">
                    <a class="page-link" href="?currentPage=@(Model.CurrentPage + 1)">Next</a>
                </li>
            }
        }
    </ul>
</nav>