@model EngineConfigurationViewModel

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary text-center">Edit Engine Configuration</h2>
        </div>
        <div class="mb-3">
            <label for="Name">Name</label>
            <input asp-for="Id" type="hidden"/>
            <input asp-for="Name" class="form-control"/>
            <label for="CylinderCount">Cylinder Count</label>
            <input asp-for="CylinderCount" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="actionButtonsContainer">
        <button type="submit" class="actionButton updateButton">Save</button>
        <a asp-action="Index" asp-controller="EngineConfigurations" class="actionButton backButton">Back</a>
    </div>
</form>